@import "./reset.css";

html {
    min-width: 100vw;

    font-size: 10px;

    overflow-x: hidden;
}

body {
    min-width: 100%;

    background: url("../img/backgound.jpg") #000000;
}

.logo {

    font-family: 'Exo2.0';
    font-size: 3.6rem;
    line-height: 4.4rem;

    text-align: center;

    color: #ffffff75;

    text-shadow: 0px 1px 1px #000000;
    box-shadow: 0px 4px 4px 0px #00000040;

    margin-bottom: 24px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 320px;
    min-height: 480px;

    padding-top: 21px;
    padding-left: 51px;

    border: 4px solid #1698D9;
    background: url("../img/cat.jpg") #fff no-repeat;
    background-position-y: 215px;
    background-position-x: -5px;

    position: relative;
    margin-bottom: 50px;
    cursor: pointer;
}

.card::after {
    content: '';

    display: block;
    width: 60px;
    height: 60px;

    background: url("../img/backgound.jpg");

    border-right: 4px solid #1698D9;
    position: absolute;
    top: -32.5px;
    left: -34.4px;
    transform: rotate(45deg);
}

.card[data-disable='true']::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: #B3B3B3;
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover {
    border: 4px solid #2EA8E6;
}

.card:hover:after {
    border-right: 4px solid #2EA8E6;
}

.card[data-select='true'] {
    border: 4px solid #D91667;
}

.card[data-select='true']:after {
    border-right: 4px solid #D91667;
}

.card[data-select='true']:hover {
    border: 4px solid #E52E7A;
}

.card[data-select='true']:hover:after {
    border-right: 4px solid #E52E7A;
}

.card[data-disable='true'] {
    border: 4px solid #B3B3B3;
}

.card[data-disable='true']:after {
    border-right: 4px solid #B3B3B3;
}

.card__subtitle {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;


    color: #666666;

    margin-bottom: 5px;
}

.card__subtitle--select {
    display: none;
    color: #E62E7A;
}

.card[data-select='true']:hover .card__subtitle {
    display: none;
}

.card[data-select='true']:hover .card__subtitle--select {
    display: block;
}

.card__title {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.6rem;


    color: #000000;

    margin-bottom: 27px;
}

.card__suptitle {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;


    color: #000000;

    margin-bottom: 15px;
}

.card__supsuptitle {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.6rem;

    color: #666666;
}

.card__supsuptitle p:last-child {
    width: 60%;
}

.card__oval {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    left: 70%;
    right: 5%;
    top: 75.44%;
    bottom: 8.84%;

    border-radius: 50%;

    background: #1698D9;

    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 2.2rem;

    text-align: center;

    color: #FFFFFF;
}

.card:hover .card__oval {
    background: #2EA8E6;
}

.card[data-select='true'] .card__oval {
    background: #D91667;
}

.card[data-select='true']:hover .card__oval {
    background: #E52E7A;
}

.card[data-disable='true'] .card__oval {
    background: #B3B3B3;
}

    .card__oval span {
        margin-top: 5px;
}

.card__footer {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;

    text-align: center;

    color: #FFFFFF;

    position: absolute;
    bottom: -28px;
}

.card__footer a {
    text-decoration: none;
    border-bottom: 1px dashed blue;
}

.card[data-disable='true'] .card__footer {
    color: #FFFF66;
}

.card[data-disable='true'] .card__footer a {
    color: #FFFF66;
    border-bottom: none;
}

@media screen and (min-width: 700px) {
    .logo {
        margin-bottom: 43px;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        margin-bottom: 70px;
    }
}
